@using ServiceLayer.ServiceModels
@model List<ProductRequestModel>

<h2>All Products</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductName</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.StockQuantity</td>
            </tr>
        }
    </tbody>
</table>
<button type="button"
        class="btn btn-primary"
        onclick="location.href='@Url.Action("AddProducts","Home")'">
        Add New Product
</button>


